E-commerce-Api/E-commerce-Api/.vs
E-commerce-Api/E-commerce-Api/bin
E-commerce-Api/E-commerce-Api/obj

E-commerce-Api/Contracts/.vs
E-commerce-Api/Contracts/bin
E-commerce-Api/Contracts/obj


E-commerce-Api/Entities/.vs
E-commerce-Api/Entities/bin
E-commerce-Api/Entities/obj


E-commerce-Api/Presentation/.vs
E-commerce-Api/Presentation/bin
E-commerce-Api/Presentation/obj

E-commerce-Api/Repository/.vs
E-commerce-Api/Repository/bin
E-commerce-Api/Repository/obj

E-commerce-Api/Service/.vs
E-commerce-Api/Service/bin
E-commerce-Api/Service/obj

E-commerce-Api/Service.Contracts/.vs
E-commerce-Api/Service.Contracts/bin
E-commerce-Api/Service.Contracts/obj

E-commerce-Api/Shared/.vs
E-commerce-Api/Shared/bin
E-commerce-Api/Shared/obj
