BookApp/BookApp/.vs
BookApp/BookApp/bin
BookApp/BookApp/obj

BookApp/Contracts/.vs
BookApp/Contracts/bin
BookApp/Contracts/obj


BookApp/Entities/.vs
BookApp/Entities/bin
BookApp/Entities/obj


BookApp/Presentation/.vs
BookApp/Presentation/bin
BookApp/Presentation/obj

BookApp/Repository/.vs
BookApp/Repository/bin
BookApp/Repository/obj

BookApp/Service/.vs
BookApp/Service/bin
BookApp/Service/obj

BookApp/Service.Contracts/.vs
BookApp/Service.Contracts/bin
BookApp/Service.Contracts/obj

BookApp/Shared/.vs
BookApp/Shared/bin
BookApp/Shared/obj
